.home {
    position: relative;
    width: 40%;
    background-color: var(#343d46);
}

.bgImg {
    position: relative;
    min-width: 60%;
    background-image: url(proty/img/greet-the-final-battle-alone-illustration.jpg);
    background-position: 250px;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
}

.logotype {
    width: 80%;
    margin-left: 15%;
    font-size: 60px;
    margin-top: 15%;
}

.title {
    margin-left: 15%;
    font-size: 40px;
    color: var(--colortext);
    font-weight: 900;
    font-family: var(--font);
    margin-top: 15%;
}

.signTitle {
    margin-left: 15%;
    font-size: 30px;
    color: var(--colortext);
    font-weight: 900;
    font-family: var(--font);
    margin-top: 5%;
}

.signBtn {
    margin-left: 15%;
    margin-top: 2%;
    width: 35%;
}

.signTxt {
    margin-left: 15%;
    font-size: 12px;
    color: var(--colortext);
    font-weight: 300;
    font-family: var(--font);
    flex-wrap: wrap;
    width: 40%;
}

.signTxt a {
    color: var(--colorprincipal);
    text-decoration: none;
}

.or {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: 4%;
    width: 43%;
}

.or .trac {
    background-color: var(--colortext);
    height: 1px;
    width: 40%;
}

.or .orDiv {
    margin: 0 5px;
}